@media (max-width: 640px) {
  .header__logo img {
    max-width: 80%;
  }

  #form fieldset {
    padding: 0 32px;
  }

  #form footer {
    flex-direction: column;
    padding: 36px 32px;
    margin-top: 32px;

  }

  #form footer > button {
    margin-top: 28px;
  }
}
